.book-promotion {

    display: block;
    text-indent: -9999px;
    color: transparent;
    margin-top: 1em;
    margin-bottom: 1em;

    /* mobile devices */
    @media (max-width: $screen-xs-max) {
        width: 290px;
        height: 100px;
        background: #000 url('../img/1232_mobile.jpg') no-repeat top left;
        clear: both;
    }

    /* tablet devices */
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        width: 910px;
        height: 200px;
        background: #000 url('../img/1232_tablet.jpg') no-repeat top left;
        clear: both;
    }

    @media (min-width: $screen-lg-min) {
        width: 255px;
        height: 500px;
        background: #000 url('../img/1232_desktop.jpg') no-repeat top left;
        float: right;
    }
}
.book-promotion:hover {
    color: transparent;
}
